.add-button:hover {
    -fx-background-color: #1a3044 !important;
}

.edit-button:hover {
    -fx-background-color: #1e3d2b !important;
}

.delete-button:hover {
    -fx-background-color: #441419 !important;
}

.clean-button:hover {
    -fx-background-color: #102a54 !important;
}

.text-field {
    -fx-text-fill: #FFFFFF;
}